* {
  margin: 0px;
  padding: 0px;
}

#cashout {
  width: 400px;
  margin-left: 35%;

  @media only screen and (max-width: 800px) {
    margin-left: 0%;
    margin-left: 10%;
    width: 300px;
  }
}

.notification-yellow {
  background-color: #ffa903;
  border-radius: 5px;
  width: 100%;
  height: 20%;
  padding: 10px;
  margin-left: 2%;

  @media only screen and (max-width: 800px) {
    margin-left: 0%;
  }

}

.btn-green {
  background: #02b075;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-top: 30px; 
  margin-left: 10px; 
  width: 30%;
  margin-left: 2%;

  @media only screen and (max-width: 800px) {
    margin-left: 0%;
    width: 30%;
  }
}

header {
  background: #004292;
  height: 50px;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  text-align: center;
}

body {
  background: #ffffff;
  margin: 0px;
  padding: 0px;
  font-family: "Cera Pro", "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header-wrapper {
  background: #004292;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-wrapper-web {
  background: #004292;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.header_balance_wrapper {
  display: flex;
  justify-content: space-between;
}

.balance_text_wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header_text {
  font-size: 12px;
  text-align: right;
  color: #02b075;
  margin: 0px;
  padding: 0px;
}

.header_text_inner {
  font-weight: bolder;
  font-size: 16px;
  text-align: right;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

.vertical-line {
  height: 35px;
  border-left: 3px solid #ffffff;
  margin-right: 5px;
  margin-left: 5px;
}

.bell {
  width: 35px;
  height: 35px;
}

.menu-icon {
  background: transparent;
}

.body-wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin-top: 20px;
}

.info-box {
  background: #f4f8fc;
  border-radius: 10px;
  padding: 20px;
  height: 45px;
  width: 120px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.info-box .amount {
  font-size: 16px;
  color: #1e266d;
  font-weight: bolder;
}

.info-box .text-green {
  font-size: 14px;
  margin-bottom: 5px;
  color: #02b075;
}

.info-box .text-blue {
  font-size: 14px;
  margin-bottom: 5px;
  color: #1d66ff;
}

.info-box .text-yellow {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ffa903;
}

.small-header-text {
  font-size: 16px;
  line-height: 20px;
  color: #455880;
  opacity: 0.8;
}

.big-blue-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #1e266d;
}

.small-blue-text {
  color: #1e266d !important;
  font-weight: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.plan-management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-count: 4;
  column-count: 4;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  justify-items: center;
  margin-top: 20px;
}

.plan_wrapper {
  width: 40%;
  margin-top: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 77, 118, 0.1);
  box-shadow: 0px 4px 10px rgba(0, 77, 118, 0.1);
  border-radius: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Cera Pro;
  padding: 10px;
}

.plan_wrapper img {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 80px;
  /* width: 80px; */
}

.plan_wrapper .description_wrapper {
  height: 200px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
}

.plan_wrapper .description_wrapper .text1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1px;
  text-align: center;
  color: #455880;
}

.plan_wrapper .description_wrapper .text2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  color: #1e266d;
}

.plan_wrapper .description_wrapper .text3 {
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  margin-top: 0px;
  text-align: center;
  color: #1e266d;
}

.plan_wrapper .description_wrapper .text4 {
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  margin-top: 20px;
  text-align: center;
  color: #e45c5c;
}

.plan_wrapper .description_wrapper .amount {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #6d7d93;
}

.plan_wrapper .description_wrapper .text5 {
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #02b075;
  margin-top: 20px;
}

.plan_wrapper .edit-plan {
  font-family: Cera Pro;
  text-align: center;
  text-decoration: none;
  -webkit-text-decoration-color: white;
  text-decoration-color: white;
  background: #0071bb;
  color: white;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 16, 75, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 16, 75, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.plan_wrapper:hover {
  font-family: Cera Pro;
  background-color: #f2f6fe;
  cursor: pointer;
}

.charts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-count: 2;
  column-count: 2;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  justify-items: center;
  margin-top: 30px;
}

.chart-box {
  background: #f4f8fc;
  border-radius: 10px;
  padding: 20px;
  height: 300px;
  width: 290px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.chartjs-line-animation {
  animation: chartjs-render-animation 1ms;
  animation-duration: 1ms;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: chartjs-line-animation;
}

.header-text {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.25em;
  color: #e45c5c;
  margin-top: 70px;
  margin-bottom: 50px;
}

.sub-header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.sub-header {
  font-weight: bold;
  font-size: 18px;
  color: #1e266d;
  margin-bottom: 10px;
}

.back-wrapper {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.back-text {
  color: #1d66ff;
  font-size: 16px;
}

.cancel-text {
  color: #e45c5c;
  font-size: 16px;
}

.header-line {
  border: 1px solid #cfdfef;
  margin-bottom: 30px;
}

.input-label {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
}

.text-input {
  padding: 8px;
  display: inline-block;
  border: 1px solid #cfdfef;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.text-input:focus {
  border: 1px solid #1e266d !important;
}

.select-input {
  padding: 8px;
  display: inline-block;
  border: 1px solid #cfdfef;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.forget-password {
  text-align: right;
  color: #1d66ff;
  font-size: 14px;
  margin-bottom: 35px;
}

.submit-btn {
  border: 0px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-color: #0071bb;
  border-radius: 8px;
  width: 100%;
  height: 40px;
}

.submit-btn2 {
  border: 0px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-color: #0071bb;
  border-radius: 8px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.submit-btn:hover {
  color: #000;
  background-color: #004292;
}

.submit-btn2:hover {
  color: #000;
  background-color: #004292;
}

.bordered-box {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.bordered-box h4 {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #02b075;
  margin: 10px;
}

.paid-badge {
  color: #02b075;
  background: rgba(2, 176, 117, 0.1);
  padding: 3px;
  width: auto;
  border-radius: 4px;
  font-size: 10px;
  margin-left: 30px;
}

.active-badge {
  color: #02b075;
  background: rgba(2, 176, 117, 0.1);
  padding: 3px;
  width: auto;
  border-radius: 4px;
  font-size: 10px;
  margin-left: 30px;
}

.unapproved-badge {
  color: #ffa903;
  background: rgba(255, 169, 3, 0.1);
  padding: 3px;
  width: auto;
  border-radius: 4px;
  font-size: 10px;
  margin-left: 30px;
}

.completed-badge {
  color: #e45c5c;
  background: rgba(255, 169, 3, 0.1);
  padding: 3px;
  width: auto;
  border-radius: 4px;
  font-size: 10px;
  margin-left: 30px;
}

.ref-badge {
  color: #222222;
  background: rgba(0, 0, 0, 0.07);
  padding: 3px;
  width: auto;
  border-radius: 4px;
  font-size: 10px;
  margin-left: 5px;
}

.deep-blue {
  background: rgba(2, 176, 117, 0.1);
}

.blue {
  background: #f4f8fc;
}

.pink {
  background: rgba(255, 169, 3, 0.1);
}

.red {
  background: rgba(228, 92, 92, 0.1);
}

.edit-text {
  color: #1d66ff;
  font-size: 14px;
  text-align: right;
  font-weight: bold;
}

.avater-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.avater {
  border: 1px solid #1e266d;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.avater-heading {
  font-size: 12px;
  color: #455880;
}

td {
  font-size: 12px;
  color: #1e266d;
  padding: 10px;
}

td.a {
  text-align: right;
}

td span {
  font-weight: bolder;
}

td a {
  color: #1d66ff;
  text-decoration: underline;
  font-weight: lighter;
}

td a:hover {
  color: #1e266d;
}

.badge {
  color: #0071bb;
  background: rgba(0, 77, 118, 0.1);
  padding: 3px;
  width: 50px;
  border-radius: 5px;
  font-size: 10px;
}

.upload-file-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

#drop-area {
  position: relative;
  font-size: 1rem;
  background-color: #f6f6f6;
  box-sizing: border-box;
  border: 2px dashed rgba(0, 16, 75, 0.2);
  border-radius: 10px;
  padding: 50px 50px;
  justify-content: center;
  text-align: center;
}

#drop-area p {
  text-align: center;
  color: #1e266d;
  margin-bottom: 10px;
}

#drop-area.highlight {
  background-color: #fff;
}

#drop-area input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  opacity: 0;
  outline: none;
}

.browse-btn {
  color: #1d66ff;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background: #eeeeee;
  border-radius: 10px;
  order: 1;
  width: 100px;
  padding: 10px;
}

.browse-btn:hover {
  color: #1e266d;
  background: #1d66ff;
}

#fileElem {
  display: none;
}

.half {
  float: left;
  width: 49%;
}

.one-quarter {
  float: left;
  width: 24%;
  margin-top: 6px;
}

.three-quarter {
  float: left;
  width: 74%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.detail-head-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #1e266d;
}

.detail-head-wrapper h1 {
  font-weight: bold;
  font-size: 16px;
}

.detail-head-wrapper p {
  font-size: 14px;
}

.detail-body-wrapper {
  display: flex;
  justify-content: space-around;
  font-family: Cera Pro;
}

.detail-body-wrapper .amount-invested {
  text-align: right;
}

.detail-body-wrapper .amount-invested .text-blue {
  font-size: 12px;
  line-height: 15px;
  color: #1d66ff;
}

.detail-body-wrapper .amount-invested .amount {
  font-size: 22px;
  line-height: 28px;
  color: #1e266d;
  font-weight: bold;
}

.detail-body-wrapper .line {
  border-left: 1px solid #cfdfef;
  margin-right: 5px;
  margin-left: 5px;
}

.detail-body-wrapper .interest {
  text-align: left;
}

.detail-body-wrapper .interest .text-green {
  font-size: 12px;
  line-height: 15px;
  color: #02b075;
}

.detail-body-wrapper .interest .amount {
  font-size: 22px;
  line-height: 28px;
  color: #1e266d;
  font-weight: bold;
}

/* .btn{
	color: #1D66FF;
	cursor: pointer;
	text-align: center;
	background: #EEEEEE;
	border-radius: 10px;
	width:150px;
	padding: 10px;
	margin: auto;
	display:block;
} */

.confirm-wrapper {
  margin: 20px;
  text-align: center;
}

.approve-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.alert {
  padding: 20px;
  background-color: rgba(2, 176, 117, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.btn {
  border: 0px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.btn-blue {
  background: rgba(0, 113, 187, 0.1);
  color: #0071bb;
}

.btn-light-blue {
  background: rgba(2, 176, 117, 0.1);
  color: #02b075;
}

.btn-pink {
  background: rgba(228, 92, 92, 0.1);
  color: #e45c5c;
}

.btn-yellow {
  background: rgba(255, 169, 3, 0.1);
  color: #ffa903;
}

/* for messages */

.search-box {
  padding: 8px;
  display: inline-block;
  border: 1px solid #cfdfef;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.search-box:focus {
  border: 1px solid #1e266d;
}

.messages-header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.messages-header-wrapper .header {
  font-weight: bold;
  font-size: 18px;
  color: #1e266d;
}

.messages-header-wrapper .header .unread-badge {
  color: #ffffff;
  background: #e45c5c;
  padding: 3px;
  width: auto;
  border-radius: 3px;
  font-size: 8px;
  margin-left: 30px;
}

.messages-header-wrapper .plus-btn {
  background: #7bc30e;
  border-radius: 5px;
  width: 30px;
  height: auto;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding: 3px;
}

.message-card {
  overflow: hidden;
  display: flex;
  padding: 20px;
}

.message-card:hover {
  background-color: rgba(2, 176, 117, 0.1);
}

.message-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.message-body {
  font-style: normal;
}

.radio-msg {
  display: flex;
  font-weight: lighter;
  margin-bottom: 20px;
}

.radio-msg input {
  height: 20px;
}

.radio-msg label {
  margin-right: 30px;
  margin-left: 10px;
}

.break-line {
  border: 1px solid #cfdfef;
  margin-top: 10px;
  margin-bottom: 10px;
}

.msg-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 12px;
  font-family: Cera Pro;
}

.msg-date {
  color: #6d7d93;
}

.msg-receiver {
  font-weight: bold;
  color: #004292;
  text-align: right;
}

.msg-receiver i {
  color: #e45c5c !important;
}

.msg-content {
  overflow: hidden;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.reply-wrapper {
  margin-left: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.tab {
  overflow: hidden;
  border: none;
  background-color: #ffffff;
  margin-top: 30px;
}

.tab button {
  background-color: #ffffff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 30px;
  transition: 0.3s;
  color: #000000;
  text-align: center;
}

.tab button:hover {
  background-color: #ffffff;
  color: #1d66ff;
}

.tab button.active {
  background-color: #ffffff;
  color: #1d66ff;
  border-bottom: solid 2px #1d66ff;
}

.tabcontent {
  display: none;
  padding: 20px 0px;
  border: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.list-box {
  background: #f4f8fc;
  border-radius: 10px;
  overflow-x: scroll;
}

.list-wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  /* overflow-x:scroll; */
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  margin-right: 30px;
}

.list-active-badge {
  color: #02b075;
  background: rgba(2, 176, 117, 0.1);
  padding: 3px;
  width: auto;
  height: 13px;
  border-radius: 3px;
  font-size: 10px;
}

.list-pending-badge {
  color: #ffa903;
  background: rgba(255, 169, 3, 0.1);
  padding: 3px;
  width: auto;
  height: 13px;
  border-radius: 3px;
  font-size: 10px;
}

.list-completed-badge {
  color: #e45c5c;
  background: rgba(228, 92, 92, 0.1);
  padding: 3px;
  width: auto;
  height: 13px;
  border-radius: 3px;
  font-size: 10px;
}

.list-break-line {
  border: 0.5px solid #cfdfef;
  margin-top: 5px;
  width: 100%;
  margin-bottom: 5px;
}

@media only screen and (max-width: 800px) {
  .list-break-line {
    width: 310%;
  }
}

.badge-green {
  background: #02b075;
  color: #ffffff;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 7px;
  width: 80px;
  height: 50px;
  font-size: 14px;
}

.badge-yellow {
  color: #000000;
  background: #ffa903;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 7px;
  width: 80px;
  height: 50px;
  font-size: 14px;
}

.badge-blue {
  color: #ffffff;
  background: #0071bb;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 7px;
  width: 80px;
  height: 50px;
  font-size: 14px;
}

.pagination {
  display: block;
  margin-top: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background: rgba(2, 176, 117, 0.1);
  border: 1px solid #7bc30e;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.pagination a:hover:not(.active) {
  background: rgba(2, 176, 117, 0.1);
  border-radius: 8px;
}

.wallet-wrapper {
  display: flex;
}

.balance-text {
  font-size: 14px;
  color: #02b075;
}

.balance-amount {
  font-weight: bold;
  font-size: 20px;
  color: #1e266d;
}

.topup-btn {
  border: 0px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0071bb;
  border-radius: 8px;
  max-width: 500px;
  height: 20px;
  margin: 10px;
  margin-right: 0px;
  font-size: 14px;
}

.activity-box {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #f4f8fc;
}

.activity-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: Cera Pro;
}

.activity-date {
  color: #6d7d93;
}

.activity-subhead {
  font-weight: bold;
  color: #000000;
  text-align: right;
}

.activity-content {
  overflow: hidden;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-top: 10px;
}
