<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAP Update Profile</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- <link type="text/javascript" href="js/fileupload.js"></link> -->

    <style>
        @media only screen and (max-width: 800px) {
            .mb-view {
                justify-content: start;
            }
        }



        .container {
            width: 30%;
        }


        @media only screen and (max-width: 800px) {
            .container {
                margin-left: 0px;
                margin-right: 0px;
                width: 80%;
            }
        }
    </style>
</head>

<body>
    <div class="header-wrapper">
        <div class="container header-content">
            <div>
                <img src="images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>
        </div>
    </div>

    <div class="body-wrapper mb-view"
        style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap; margin-left: 0%;">
        <div class="container">
            <div class="sub-header-wrapper">
                <h3 class="sub-header">Change Password</h3>
                <span>
                    <input class="cancel-text" (click)="expression" value="CANCEL"
                        style="border: none; float: right; width: 100px;">
                </span>
            </div>

            <hr class="header-line">

            <form method="post" action="" enctype="multipart/form-data">

                <div class="row">
                    <div class="full">
                        <label class="input-label">Old Account Password</label>
                        <input class="text-input" name="oldpassword" type="password" formArrayName="oldAccountPassword">
                    </div>
                </div>

                <div class="row">
                    <div class="full">
                        <label class="input-label">New Account Password</label>
                        <input class="text-input" name="newAccountPassword" type="password"
                            formControlName="newAccountPassword">
                    </div>
                </div>

                <div class="row">
                    <div class="full">
                        <label class="input-label">confirmNewAccountPassword</label>
                        <input class="text-input" name="confirmNewAccountPassword" type="password"
                            formControlName="confirmNewAccountPassword">
                    </div>
                </div>

                <input class="submit-btn" type="button" value="Update Password" style="background-color: #02B075;;">
            </form>
        </div>
    </div>
</body>

</html>