<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAP Agent profile - active</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header-wrapper">
        <div class="container header-content">
            <div>
                <img src="images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>

            <div class="header_balance_wrapper">

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Wallet balance </h6>
                    <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line">
                </div>

                <img class="bell" src="images/bell 1.svg" />
            </div>

            <div>
                <img class="menu-icon" src="images/user dash menu.png" alt="menu" />
            </div>
        </div>
    </div>

    <div class="body-wrapper mb-view"
        style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
        <div class="container" style="width: 500px;">
            <div class="sub-header-wrapper">
                <h3 class="sub-header">Bank Account Information</h3>
                <span>
                    <input class="cancel-text" (click)="expression" value="CANCEL"
                        style="border: none; float: right; width: 100px;">
                </span>
            </div>
            <hr class="header-line">
        </div>
    </div>

    <div class="body-wrapper mb-view"
        style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
        <div class="container" style="width: 500px;">
            <div class="bordered-box blue">
                <h4>Naira Bank Account - NGN </h4>
                <table style="width: 100%; margin-left: 4%;">
                    <tr>
                        <td class="a">Bank</td>
                        <td><span>Guarantee Trust Bank</span></td>
                    </tr>
                    <tr>
                        <td class="a">Account number</td>
                        <td><span>00301323423</span></td>
                    </tr>
                    <tr>
                        <td class="a">Account name</td>
                        <td><span>Smith Thompson</span></td>
                    </tr>
                    <tr>
                        <td class="a">Bank statement</td>
                        <td><a href="">View statement</a></td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="container" style="width: 500px;">
            <div class="bordered-box blue">
                <h4>British Pounds Bank Account - GBP </h4>
                <table style="width: 100%; margin-left: 4%;">
                    <tr>
                        <td class="a">Bank</td>
                        <td><span>Guarantee Trust Bank</span></td>
                    </tr>
                    <tr>
                        <td class="a">Account number</td>
                        <td><span>00301323423</span></td>
                    </tr>
                    <tr>
                        <td class="a">Account name</td>
                        <td><span>Smith Thompson</span></td>
                    </tr>
                    <tr>
                        <td class="a">Bank statement</td>
                        <td><a href="">View statement</a></td>
                    </tr>
                </table>
            </div>
        </div>



        <div class="container" style="width: 500px;">
            <div class="bordered-box blue">
                <h4>EURO Bank Account - EUR </h4>
                <table style="width: 100%; margin-left: 4%;">
                    <tr>
                        <td class="a">Bank</td>
                        <td><span>Guarantee Trust Bank</span></td>
                    </tr>
                    <tr>
                        <td class="a">Account number</td>
                        <td><span>00301323423</span></td>
                    </tr>
                    <tr>
                        <td class="a">Account name</td>
                        <td><span>Smith Thompson</span></td>
                    </tr>
                    <tr>
                        <td class="a">Bank statement</td>
                        <td><a href="">View statement</a></td>
                    </tr>
                </table>
            </div>
        </div>



        <div class="container" style="width: 500px;">
            <div class="bordered-box blue">
                <h4>Dollar Bank Account - USD </h4>
                <table style="width: 100%; margin-left: 4%;">
                    <tr>
                        <td class="a">Bank</td>
                        <td><span>Guarantee Trust Bank</span></td>
                    </tr>
                    <tr>
                        <td class="a">Account number</td>
                        <td><span>00301323423</span></td>
                    </tr>
                    <tr>
                        <td class="a">Account name</td>
                        <td><span>Smith Thompson</span></td>
                    </tr>
                    <tr>
                        <td class="a">Bank statement</td>
                        <td><a href="">View statement</a></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>


</body>

</html>