<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAP Agent profile - active</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header-wrapper">
        <div class="container header-content">
            <div>
                <img src="images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>

            <div class="header_balance_wrapper">

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Wallet balance </h6>
                    <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line">
                </div>

                <img class="bell" src="images/bell 1.svg" />
            </div>

            <div>
                <img class="menu-icon" src="images/user dash menu.png" alt="menu" />
            </div>
        </div>
    </div>

    <div class="body-wrapper mb-view"
        style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
        <div class="container" style="width: 500px;">
            <div class="sub-header-wrapper">
                <h3 class="sub-header">Cash out to bank</h3>
                <span>
                    <input class="cancel-text" (click)="expression" value="CANCEL"
                        style="border: none; float: right; width: 100px;">
                </span>
            </div>
            <hr class="header-line">
        </div>
    </div>

    <div class="body-wrapper mb-view"
        style="display: flex; justify-items: center; justify-content: center; flex-direction: column; flex-wrap: wrap;">
        <div class="container" id="cashout">


            <div class="row">
                <div class="full">
                    <div style=" background: #F4F8FC;border-radius: 10px; width: 100%; height:100px;">
                        <h5 class="sub-header" style="color: #02B075;;; padding-left: 10px;font-weight: 500;
                            font-size: 18px; padding-top: 16px; font-weight: bold;">Wallet Balance</h5>
                        <div class="amount-invested">
                            <p class="amount" style="color:  #1E266D;; margin-left: 10px; font-size: 30px;
                                line-height: 38px; font-weight: bold;">₦122,000,000.00</p>
                        </div>
                    </div>
                </div>
                <div class="full" style="margin-left: 2%;">
                    <label class="input-label">Amount</label>
                    <input class="text-input" name="lastname" type="number" placeholder="Example :$300.00">
                </div>
            </div>


            <div class="bordered-box blue">
                <h4>Confirm Bank Information</h4>
                <table style="width: 90%; margin-left: 4%;">
                    <tr>
                        <td class="a">Bank</td>
                        <td><span>Guarantee Trust Bank</span></td>
                    </tr>
                    <tr>
                        <td class="a">Account number</td>
                        <td><span>00301323423</span></td>
                    </tr>
                    <tr>
                        <td class="a">Account name</td>
                        <td><span>Smith Thompson</span></td>
                    </tr>
                    <tr>
                        <td class="a">Bank statement</td>
                        <td><a href="">View statement</a></td>
                    </tr>
                </table>
            </div>

            <div class="cotainer notification-yellow" style="display: flex; justify-content: space-evenly; width: 90%;">
                <i class="fa fa-exclamation-circle fa-4x" aria-hidden="true" style="padding: 10px;"></i>
                <span> This process will initiate the withdrawal process. The specified amount will hit your account in
                    24
                    hours according to our terms and condition.</span>
            </div>


            <div class="container" style="margin-top: 10px;" id="cashoutprocessing">
                <!-- <button  *ngIf="paymentProcessing" class="submit-btn" style="font-size:24px ; background-color: #02B075; "><i class="fa fa-circle-o-notch fa-spin"></i></button> -->
                <!-- <button *ngIf="paymemtSuccessful" class="submit-btn" style="font-size:24px ; background-color: #02B075; "><i class="fa fa-check-circle" aria-hidden="true"></i></button> -->
                <input  *ngIf="notProcessed" class=" btn-green submit-btn" type="button" value="Proceed" style="background-color: #02B075;">
            </div>

        </div>
    </div>
</body>

</html>