<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title> TAP | User Profile Unboarding </title>
</head>

<body>


    <div class="header-wrapper-web" style="background-color: #F4F8FC; height: 80px;">
        <div class="container header-content">

            <div class="balance_text_wrapper">
                <h4 class="header_text_inner" style="color: #1E266D; font-size:16px;">
                    <h6 class="header_text"> Agent Code </h6>
                    <span style="color: rgb(159, 241, 159);">
                        3434dad
                    </span>
                </h4>
            </div>

            <div class="header_balance_wrapper" style="justify-items: end;">

                <div class="balance_text_wrapper" style="padding : 10px">
                    <h6 class="header_text" style="color: #6D7D93;"> Good Morning </h6>
                    <h4 class="header_text_inner" style="color: #1E266D; font-size:16px;"> Adeshina Lasisi </h4>
                </div>

                <div class="vertical-line" style="padding-left: 100px;">
                </div>

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Wallet balance </h6>
                    <h4 class="header_text_inner" style="color: #1E266D; font-size: 22px;
                    line-height: 28px;"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line" style="padding-left: 80px; padding-right: 30px;">
                </div>
                <img class="bell" src="images/bell-blue-web.svg" />
            </div>

            <div>
                <img class="menu-icon" src="images/user dash menu.png" alt="menu" />
            </div>

        </div>
    </div>


    <div class="header-wrapper" style="height: 80px;">
        <div class="container header-content">
            <div>
                <img src="images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>

            <div class="header_balance_wrapper">

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Wallet balance </h6>
                    <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line">
                </div>

                <img class="bell" src="images/bell 1.svg" />
            </div>

            <div>
                <img class="menu-icon" src="images/user dash menu.png" alt="menu" />
            </div>
        </div>
    </div>






    <form id="regForm" class="body-wrapper"
        style="display: flex; justify-items: center; justify-content: center; flex-wrap: wrap;">

        <div style="text-align:center;margin-top:40px;">
            <span class="step">
                <p style="text-align: center;">1</p>
            </span>
            <span class="step">2</span>
            <span class="step">3</span>
            <span class="step">4</span>
            <span class="step">5</span>
        </div>


        <div class="tab">
            <div class="tab-pane active" role="tabpanel" id="step1">
                <div class="body-wrapper"
                    style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
                    <div class="container" style="width: 800px;">
                        <div class="sub-header-wrapper">
                            <h3 class="sub-header">Profile Information</h3>

                            <span>
                                <a class="cancel-text" (click)="navidateBack()"
                                    style=" margin-top: 20px ; border: none; float: right; width: 100px; cursor: pointer; text-decoration: none;">
                                    CANCEL
                                </a>
                            </span>
                        </div>

                        <label class="input-label">Date of Birth</label>
                        <input class="text-input" name="email" type="date" formControlName="investmentDuration">

                        <label class="input-label">Occupation</label>
                        <input class="text-input" name="email" type="text" formControlName="investmentDuration">


                        <label class="input-label">Address</label>
                        <input class="text-input" name="email" type="text" formControlName="investmentDuration">
                        <hr class="header-line">

                        <div class="row">

                            <div class="half">
                                <label class="input-label">Country</label>
                                <input class="text-input" name="country" type="text">
                            </div>
                            <div class="half" style="margin-left: 2%;">
                                <label class="input-label"> City </label>
                                <input class="text-input" name="city" type="text">
                            </div>

                            <div class="half">
                                <label class="input-label"> State </label>
                                <input class="text-input" name="state" type="text">
                            </div>

                            <div class="half" style="margin-left: 2%;">
                                <label class="input-label"> Postal Code </label>
                                <input class="text-input" name="portal" type="number">
                            </div>
                        </div>
                        <div style="display: flex; justify-items:center; flex-wrap: nowrap; flex-direction: row; justify-content: space-around;"
                            style="width: 300px; display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
                            <input type="button" class="btn btn-primary next-step" onclick="nextPrev(-1)"
                                value="Previous" id="prevBtn" style="margin: 30px;">
                            <input type="button" class="btn btn-primary next-step" onclick="nextPrev(1)" value="Next"
                                id="nextBtn" style="margin: 30px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab">
            <div class="tab-pane active" role="tabpanel" id="step1">
                <div class="body-wrapper"
                    style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
                    <div class="container" style="width: 800px;">
                        <div class="sub-header-wrapper">
                            <h3 class="sub-header">Bank Information</h3>

                            <span>
                                <a class="cancel-text" (click)="navidateBack()"
                                    style=" margin-top: 20px ; border: none; float: right; width: 100px; cursor: pointer; text-decoration: none;">
                                    CANCEL
                                </a>
                            </span>
                        </div>

                        <label class="input-label">Bank Name</label>
                        <input class="text-input" name="email" type="text" formControlName="investmentDuration"
                            placeholder="Example GTBank">


                        <label class="input-label">Bank Account Name</label>
                        <input class="text-input" name="email" type="text" formControlName="investmentDuration"
                            placeholder="Your bank account name eg Ijadoola Lolade Kudirat">

                        <label class="input-label">Bank Account Number</label>
                        <input class="text-input" name="accountNumber" type="number"
                            formControlName="investmentDuration" placeholder="0203332323">

                        <label class="input-label">Bank Account Statement - Last Three month</label>
                        <div class="upload-file-wrapper">
                            <div id="drop-area-bankstm">
                                <p id="upload-labelbk">Drop files here to upload...</p>
                                <input type="file" id="filebkElem" name="file" accept="image/*"
                                    onchange="uploadFile(event , 'upload-labelbk')" />
                                <label for="filebkElem" class="browse-btn">Browse file</label>
                            </div>
                        </div>


                        <div style="display: flex; justify-items:center; flex-wrap: nowrap; flex-direction: row; justify-content: space-around;"
                            style="width: 300px; display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
                            <input type="button" class="btn btn-primary next-step" onclick="nextPrev(-1)"
                                value="Previous" id="prevBtn" style="margin: 30px;">
                            <input type="button" class="btn btn-primary next-step" onclick="nextPrev(1)" value="Next"
                                id="nextBtn" style="margin: 30px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab">
            <div class="body-wrapper"
                style="display: flex; justify-items: center; justify-content:center; flex-wrap: wrap;">
                <div class="container" style="width: 700px;">
                    <div class="sub-header-wrapper">
                        <h3 class="sub-header">Identification</h3>
                    </div>

                    <div class="row">
                        <div class="full">
                            <select class="select-input" id="idcard" name="idcard">
                                <option value="National Id Card">National Identification Card (NIC) </option>
                                <option value="International Passport">International Passport </option>
                                <option value="Driver's Licence">Driver's Licence</option>
                                <option value="Voter's Card">Voter's Card</option>
                            </select>
                        </div>
                    </div>

                    <label class="input-label">Identification File</label>
                    <div class="upload-file-wrapper">
                        <div id="drop-area-idcard">
                            <p id="upload-label-idcard">Drop files here to upload...</p>
                            <input type="file" id="fileidcardElem" name="file" accept="image/*"
                                onchange="uploadFile(event , 'drop-area-idcard')" />
                            <label for="fileidcardElem" class="browse-btn">Browse file</label>
                        </div>
                    </div>

                    <div style="display: flex; justify-items:center; flex-wrap: nowrap; flex-direction: row; justify-content: space-around;"
                        style="width: 300px; display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
                        <input type="button" class="btn btn-primary next-step" onclick="nextPrev(-1)" value="Previous"
                            id="prevBtn" style="margin: 30px;">
                        <input type="button" class="btn btn-primary next-step" onclick="nextPrev(1)" value="Next"
                            id="nextBtn" style="margin: 30px;">
                    </div>
                </div>
            </div>
        </div>


        <div class="tab">
            <div class="body-wrapper"
                style="display: flex; justify-items: center; justify-content:center; flex-wrap: wrap;">
                <div class="container" style="width: 700px;">
                    <div class="sub-header-wrapper">
                        <h3 class="sub-header">Upload passport photograph</h3>
                    </div>
                    <div class="bordered-box blue">
                        <div class="upload-file-wrapper">
                            <div id="drop-area-photo">
                                <p id="upload-label-photo">Drop files here to upload...</p>
                                <input type="file" id="filephotoElem" name="file" accept="image/*"
                                    onchange="uploadFile(event, 'drop-area-photo')" />
                                <label for="filephotoElem" class="browse-btn">Browse file</label>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-items:center; flex-wrap: nowrap; flex-direction: row; justify-content: space-around;"
                        style="width: 300px; display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
                        <input type="button" class="btn btn-primary next-step" onclick="nextPrev(-1)" value="Previous"
                            id="prevBtn" style="margin: 30px;">
                        <input type="button" class="btn btn-primary next-step" onclick="nextPrev(1)" value="Next"
                            id="nextBtn" style="margin: 30px;">
                    </div>
                </div>
            </div>
        </div>

    </form>

    <script>
        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab

        function showTab(n) {
            // This function will display the specified tab of the form...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            //... and fix the Previous/Next buttons:
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "Submit";
            } else {
                document.getElementById("nextBtn").innerHTML = "Next";
            }
            //... and run a function that will display the correct step indicator:
            fixStepIndicator(n)
        }

        function nextPrev(n) {
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Exit the function if any field in the current tab is invalid:
            if (n == 1 && !validateForm()) return false;
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form...
            if (currentTab >= x.length) {
                // ... the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        function validateForm() {
            // This function deals with validation of the form fields
            var x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
                // If a field is empty...
                if (y[i].value == "") {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";
                    // and set the current valid status to false
                    valid = false;
                }
            }
            // If the valid status is true, mark the step as finished and valid:
            if (valid) {
                document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            return valid; // return the valid status
        }

        function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
            }
            //... and adds the "active" class on the current step:
            x[n].className += " active";
        }

        //drop area one
        let dropArea1 = document.getElementById('drop-area-bankstm')
        let dropArea2 = document.getElementById('drop-area-photo')
        let dropArea3 = document.getElementById('drop-area-idcard')
            ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                dropArea1.addEventListener(eventName, preventDefaults, false)
                dropArea2.addEventListener(eventName, preventDefaults, false)
                dropArea3.addEventListener(eventName, preventDefaults, false)
            })

        function preventDefaults(e) {
            e.preventDefault()
            e.stopPropagation()
        }
        ;['dragenter', 'dragover'].forEach(eventName => {
            dropArea1.addEventListener(eventName, highlight, false)
            dropArea2.addEventListener(eventName, highlight, false)
            dropArea3.addEventListener(eventName, highlight, false)
        })

            ;['dragleave', 'drop'].forEach(eventName => {
                dropArea1.addEventListener(eventName, unhighlight, false)
                dropArea2.addEventListener(eventName, unhighlight, false)
                dropArea3.addEventListener(eventName, unhighlight, false)
            })

        function highlight(e) {
            dropArea1.classList.add('highlight')
            dropArea2.classList.add('highlight')
            dropArea3.classList.add('highlight')
        }

        function unhighlight(e) {
            dropArea1.classList.remove('highlight')
            dropArea2.classList.remove('highlight')
            dropArea3.classList.remove('highlight')
        }

        dropArea1.addEventListener('drop', handleDrop, false)
        dropArea2.addEventListener('drop', handleDrop, false)
        dropArea3.addEventListener('drop', handleDrop, false)

        function handleDrop(e) {
            let dt = e.dataTransfer
            let file = dt.file
            uploadFile(e , e.target.id)
        }

        function uploadFile(event, id) {
            var x = document.getElementById(event.target.id);
            console.log(event);
            // let filex =  event.target.files[0];
            document.getElementById(id).innerHTML = event.target.files[0].name + " file selected";
            //     $('form input').change(function () {
            //     $('form p').text(this.files.length + " file selected");
            //   });
        }

    </script>
</body>

</html>