<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAP Agent profile - active</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header-wrapper">
        <div class="container header-content">
            <div>
                <img src="images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>

            <div class="header_balance_wrapper">

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Wallet balance </h6>
                    <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line">
                </div>

                <img class="bell" src="images/bell 1.svg" />
            </div>

            <div>
                <img class="menu-icon" src="images/user dash menu.png" alt="menu" />
            </div>
        </div>
    </div>

    <div class="body-wrapper mb-view"
        style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
        <div class="container">
            <h3 class="small-blue-text" style="margin-bottom: 30px;">
                Investor profile
                <span>
                    
                    <input class="cancel-text" (click)="expression" value=" &LeftArrow; BACK"
                        style="border: none; float: right; width: 100px; cursor: pointer;">
                </span> 
            </h3>

            <div class="bordered-box blue">
                <div class="avater-wrapper">
                    <img class="avater" src="images/Ellipse 27.svg" alt="avater" />
                    <h4 class="small-blue-text">Smith Thompson</h4>
                </div>


                <table style="width: 100%; margin-left: 6%;">
                    <tr>
                        <td class="a">Username</td>
                        <td><span>smith123</span></td>
                    </tr>
                    <tr>
                        <td class="a">Email address</td>
                        <td><span>smith123@gmail.c om</span></td>
                    </tr>
                    <tr>
                        <td class="a">Phone number</td>
                        <td><span>+23490876543545</span></td>
                    </tr>
                    <tr>
                        <td class="a">Date of birth</td>
                        <td><span>January 01, 2020</span></td>
                    </tr>
                    <tr>
                        <td class="a">Occupation</td>
                        <td><span>Banker</span></td>
                    </tr>
                    <tr>
                        <td class="a">Address</td>
                        <td>
                            <p style="width: 100px;">No 1 Ilorin road, Gbagada estate,Lagos</p>
                        </td>
                    </tr>
                </table>
            </div>


            <div class="body-wrapper mb-view"
                style="display: flex; justify-items: center; justify-content: start; flex-direction: column; flex-wrap: wrap; width: 100%;">
                <button class="btn btn-light-blue" style="width: 100%;">Active investments <span
                        class="badge-green">4</span></button>
                <button class="btn btn-yellow" style="width: 100%;">Unapproved investments <span
                        class="badge-yellow">4</span></button>
                <button class="btn btn-blue" style="width: 100%;">Completed investments <span
                        class="badge-blue">4</span></button>
            </div>

        </div>

</body>


</html>