<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAP Update Profile</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- <link type="text/javascript" href="js/fileupload.js"></link> -->

    <style>
        @media only screen and (max-width: 800px) {
            .mb-view {
                justify-content: start;
            }
        }



        .container {
            width: 30%;
        }


        @media only screen and (max-width: 800px) {
            .container {
                margin-left: 0px;
                margin-right: 0px;
                width: 80%;
            }
        }
    </style>
</head>

<body>
    <div class="header-wrapper">
        <div class="container header-content">
            <div>
                <img src="images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>
        </div>
    </div>

    <div class="body-wrapper mb-view"
        style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap; margin-left: 0%;">
        <div class="container">
            <div class="sub-header-wrapper">
                <h3 class="sub-header">Top up Wallet</h3>
                <span>
                    <a class="cancel-text" (click)="navidateBack()"
                        style=" margin-top: 5px ; border: none; float: right; width: 100px; cursor: pointer; text-decoration: none;">
                        CANCEL
                    </a>
                </span>
            </div>
            <hr class="header-line">
            <form method="post" action="" enctype="multipart/form-data">

                <div class="row">
                    <div class="full">
                        <label class="input-label">Top up amount</label>
                        <input class="text-input" name="topupamount" type="text" formArrayName="topupamount"
                            placeholder="Enter Amount" style="font-family: Cera Pro Medium;">
                    </div>
                </div>

                <div class="row">

                    <div style="background: #F4F8FC; margin-top: 20px;
                                border: 2px solid #02B075;
                                box-sizing: border-box;
                                border-radius: 10px;" (click)="openPayWithPaystack()">
                        <span style="margin-top: 30px;">
                            <img src="./images/paystack.svg" alt=""
                                style="margin-top: 25px; margin-bottom: 25px; margin-left: 20px;">
                        </span>
                    </div>

                    <div style="background: #F4F8FC; margin-top: 20px;
                                border: 2px solid #02B075;
                                box-sizing: border-box;
                                border-radius: 10px;">
                        <span style="margin-top: 30px;" (click)="openPayWithFlutterwave()">
                            <img src="./images/flutterwave.svg" alt=""
                                style="margin-top: 25px; margin-bottom: 25px; margin-left: 20px;">
                        </span>
                    </div>

                    <div style="background: #F4F8FC; margin-top: 20px;
                                border: 2px solid #02B075;
                                box-sizing: border-box;
                                border-radius: 10px;">
                        <span style="margin-top: 30px;" (click)="payWithPaypal()">
                            <img src="./images/paypal.svg" alt=""
                                style="margin-top: 25px; margin-bottom: 25px; margin-left: 20px;">
                        </span>
                    </div>


                    <div style="background: #F4F8FC; margin-top: 20px;
                                border: 2px solid #02B075;
                                box-sizing: border-box;
                                border-radius: 10px;">
                        <span style="margin-top: 30px;" cl>
                            <img src="./images/bank.svg" alt=""
                                style="margin-top: 25px; margin-bottom: 25px; margin-left: 20px;">
                        </span>
                    </div>
                </div>
                <input class="submit-btn" type="button" value="Proceed"
                    style="background-color: #0071BB;margin-top: 25px; font-family: Cera Pro Medium;">
            </form>
        </div>
    </div>
</body>

</html>